/Users/Bayb/Projects/CookingSystem/Data/CookingSystem.Data/bin
/Users/Bayb/Projects/CookingSystem/Data/CookingSystem.Data/obj/Users/Bayb/Projects/CookingSystem/Data/CookingSystem.Data.Models/bin
/Users/Bayb/Projects/CookingSystem/Data/CookingSystem.Data.Models/obj/Users/Bayb/Projects/CookingSystem/Data/CookingSystem.Data.Models/bin
/Users/Bayb/Projects/CookingSystem/Data/CookingSystem.Data.Models/obj
/Users/Bayb/Projects/CookingSystem/CookingSystem/bin
/Users/Bayb/Projects/CookingSystem/CookingSystem/obj
/Users/Bayb/Projects/CookingSystem/Services/CookingSystem.Services/bin
/Users/Bayb/Projects/CookingSystem/Services/CookingSystem.Services/obj
/Users/Bayb/Projects/CookingSystem/Web/obj
/Users/Bayb/Projects/CookingSystem/Web/CookingSystem.Web/bin
/Users/Bayb/Projects/CookingSystem/Web/CookingSystem.Web/obj