@model CookingSystem.Web.Models.Comments.CommentViewModel
@{
    ViewData["Title"] = "Add";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>

    <div class="jumbotron">
        <h4>Comment this recipe</h4>
        <hr />
        <div class="row">
            <div class="col-md-9">
                <form asp-action="Add">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control" maxlength="250" style="height:250px"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="RecipeId" class="control-label"></label>
                        <input asp-for="RecipeId" class="form-control" />
                        <span asp-validation-for="RecipeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                        <a class="btn btn-danger btn-sm" asp-action="Details" asp-controller="Recipes" asp-route-id="@Model.RecipeId">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
